@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: white;
  color: #2B2A35;
  height: 100vh;
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #e5eaf5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo_box img {
  width: 100%;
  padding-right: 30px;
}

main {
  flex: 1;
  padding: 30px 30px 0 30px;
}

main h1 {
  color: #37456b;
  font-size: 24px;
  letter-spacing: .8px;
  position: relative;
  font-variant: all-small-caps;
}

main h1:before {
  display: block;
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 5px;
  width: 40px;
  background-color: #fa7c03;
  border-radius: 1000px;
}

nav {
  width: 15%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 0 30px 30px;
  border-right: 1px solid #e5eaf5;
}

.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header_bar .user_status {
  width: auto;
  font-size: 12px;
  color: #2B2A35;
  display: inline-flex;
  align-items: center;
  border-radius: 1000px;
  background-color: #505d7d;
  padding: 2px 14px 2px 2px;
  cursor: pointer;
}

.header_bar .user_status i {
  font-size: 24px;
  color: white;
}

.header_bar .user_status span {
  margin-left: 5px;
  font-weight: 500;
  color: white;
  letter-spacing: .8px;
}

nav .section_nav {
  display: flex;
  flex-direction: column;
}

nav .section_nav .section_nav_title {
  font-variant: all-small-caps;
  font-weight: 600;
  font-size: 16px;
  color: #7d8eb5;
}

nav .section_nav a {
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #505d7d;
  border-right: 3px solid transparent;
}

nav .section_nav a.active {
  color: #fa7c03;
  border-color: #fa7c03;
}

nav .section_nav a.active i {
  color: #fa7c03;
}

nav .section_nav a i {
  margin-right: 10px;
  font-size: 18px;
  color: #7c8db5;
}

.search_bar {
  display: flex;
  align-items: center;
  width: 60%;
  border: 1px solid #7c8db5;
  border-radius: 1000px;
  padding: 5px 10px;
  transition: 0.4s;
}

.search_bar i {
  font-size: 12px;
  margin-right: 5px;
  color: #7c8db5;
  transition: 0.4s;
}

.search_bar input {
  border: none;
  width: 100%;
  color: #7c8db5;
  transition: 0.4s;
  font-family: Montserrat, sans-serif;
}

.search_bar input::placeholder {
  color: #7c8db5;
  transition: 0.4s;
  opacity: 0.7;
}

.search_bar input:focus {
  outline: none;
}

.styles_song {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.styles_song.extend {
  width: 60%;
}

.styles_song .style_song {
  width: 100%;
  background: linear-gradient(to bottom right, #37456b, #7c8db5);
  padding: 75px 20px 10px;
  color: white;
  border-radius: 5px;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.styles_song .style_song:hover,.styles_song .style_song.active {
  transform: translateY(-4px);
  box-shadow: 0px 11px 12px -3px rgba(0,0,0,0.3);
}

.styles_song .style_box {
  width: 19%;
}

.styles_song.extend .style_box {
  width: 32%;
}

.musiques_box, .albums_container {
  display: flex;
}

.aside_styles {
  width: 40%;
}

.style_song .illus_style {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  opacity: 0.4;
  font-size: 60px;
}

.style_song .illus_style i:not(:first-child) {
  margin-left: -5px;
}

.style_song p {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .8px;
}

.style_song .style_number_song {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 100%;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.style_song .style_number_song span {
  color: #37456b;
  font-weight: 600;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}


.aside_styles {
  transform: translateX(100%);
  animation-duration: 0.8s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  padding: 0 20px;
}

.aside_styles .selected_style {
  padding: 20px;
  border: 1px solid #e5eaf5;
  border-radius: 5px;
}

.selected_style_name {
  font-variant: all-small-caps;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px;
  letter-spacing: .8px;
  color: #37456b;
}

.no_songs {
  font-size: 14px;
  margin: 20px 0 0;
  color: #7c8db5;
  text-align: center;
}

.songs_list {
  margin-top: 20px;
}

.song_in_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.right_side, .left_side {
  display: flex;
  align-items: center;
}

.song_in_list i.fa-circle {
  font-size: 9px;
  margin-right: 5px;
  color: #7c8db5;
}

.song_in_list p {
  margin: 0;
}

.song_in_list .title_song {
  font-size: 14px;
  font-weight: 500;
  color: #37456b;
  letter-spacing: .8px;
}

.song_in_list .duration_song {
  font-size: 10px;
  font-weight: 600;
  margin-right: 5px;
  color: #7c8db5;
  text-transform: uppercase;
}

.song_in_list i.fa-play-circle {
  color: #fa7c03;
  cursor: pointer;
}

.albums_list {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album_content {
  border-radius: 5px;
  height: 250px;
  width: 32%;
  background-color: #fa7c03;
  transition: .4s;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  color: white;
  position: relative;
  overflow: hidden;
}

.album_content p {
  margin: 0;
}

.album_content .info_album {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 10px 10px 10px;
}

.album_content .title_album {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
}

.album_content .artist_album {
  font-weight: 600;
  font-size: 14px;
}

.album_content .year_album {
  font-weight: 500;
  font-size: 10px;
}

.album_content .number_songs {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  color: #37456b;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .8px;
  border-top-left-radius: 5px;
}

.album_content:hover, .album_content.active {
  transform: translateY(-4px);
  box-shadow: 0px 11px 12px -3px rgba(0,0,0,0.3);
}

.song_box {
  background: white;
  padding: 20px 30px;
  color: #37456b;
  border-top: 1px solid #e5eaf5;
}

.song_box .flex_song {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song_box .controls {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song_box .btn_controls {
  align-self: center;
}

.song_box .btn_controls button {
  margin: 10px 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  color: #37456b;
}

.song_box .btn_controls .seconds span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7px;
  font-weight: 600;
}

.controls .slider_time {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls .slider_time span {
  font-size: 12px;
  letter-spacing: 1px;
}

.info_song {
  display: flex;
  align-items: center;
  width: 25%;
}

.info_song p {
  margin: 0;
}

.info_song .title_song {
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 14px;
  letter-spacing: .8px;
}

.info_song .artist_song {
  font-weight: 300;
  font-size: 10px;
}

.control_audio {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info_song .song_illus {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

input[type=range] {
  margin: auto 10px;
  outline: none;
  padding: 0;
  height: 6px;
  background-color: #e5eaf5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #473e4f), color-stop(100%, #51475a));
  background-image: -webkit-linear-gradient(#473e4f, #51475a);
  background-image: -moz-linear-gradient(#473e4f, #51475a);
  background-image: -o-linear-gradient(#473e4f, #51475a);
  background-image: linear-gradient(#505d7d, #505d7d);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #7c8db5;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

.main-nav {
  margin-right: 5%;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 80px;
  }
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav li:nth-last-child(2) {
    margin-left: 2em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }
  .main-nav a.cd-signin, .main-nav a.cd-signup {
    padding: 0.6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  .main-nav a.cd-signup {
    background: #2f889a;
    border: none;
  }
}

/* --------------------------------

sigin/signup popup

-------------------------------- */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher::after {
  clear: both;
  content: "";
  display: table;
}
.cd-user-modal-container .cd-switcher {
  padding: 0;
  color: #3b3d4b;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
  list-style: none;
}
.cd-user-modal-container .cd-switcher li:first-child button {
  border-radius: 0.25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child button {
  border-radius: 0 0.25em 0 0;
}
.cd-user-modal-container .cd-switcher button {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}
.cd-user-modal-container .cd-switcher button.selected {
  background: #FFF;
  color: #37456b;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg");
}
.cd-form label.cd-email {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #e5eaf5;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
  border-radius: 10px;
  padding: 16px 0;
  cursor: pointer;
  background: #7c8db5;
  color: #FFF;
  font-weight: 500;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.8px;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: 0.8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
  /* triangle */
  content: "";
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

.cd-form-bottom-message {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

.cd-form-bottom-message a {
  color: #37456b;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

.btn-add-playlist {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input-add-playlist {
  border: none;
  border-bottom: 1px solid #e5eaf5;
  padding: 2px;
  font-weight: 500;
  color: #505d7d;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.input-add-playlist:focus {
  outline: none;
}

.title-playlist {
  text-align: center;
  margin: 75px;
  font-size: 40px;
  font-style: italic;
}

.title-playlist:before {
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 70px;
}

.header-playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-playlist h2 {
  color: #7c8db5;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.header-playlist button {
  border: none;
  cursor: pointer;
  background-color: #d76666;
  border-radius: 100px;
  padding: 5px 7px;
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.no-songs {
  font-size: 12px;
  color: #7d8eb5;
  margin: 50px;
  text-align: center;
  font-style: italic;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container .fieldset {
  margin: 0;
  width: 48%;
}

.cursor_pointer {
  cursor: pointer;
}

.container_form_add_song {
  display: flex;
  justify-content: space-between;
}

.form_add_song {
  background-color: #7d8eb5;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
}

.form_add_song_center {
  margin: 0 auto;
}

.form_upload {
  background-color: #e5eaf5;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
}

.form_upload input, .button_upload_song {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.form_upload_song {
  text-align: center;
}

.button_upload_song {
  cursor: pointer;
  background-color: white;
  padding: 10px 30px;
}

.form_add_song_form input, .form_add_song_form select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.form_add_song_form input[type="text"] {
  width: 100%;
}

.btn_submit_form {
  display: flex;
  justify-content: flex-end;
}

.form_add_song_form input[type="submit"] {
  margin-left: auto;
  background-color: #e5eaf5;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
}

.form_add_song_form input:focus, .form_add_song_form select:focus {
  outline: none;
}

.form_w-100 {
  width: 100%;
}

.form_w-50 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.form_w-50 input, .form_w-50 select {
  width: 48% !important;
}

.title_white {
  color: white;
}

.success_text {
  text-align: center;
  color: #3b3d4b;
  font-size: 12px;
}

.section_add {
  width: 70%;
  margin: 30px auto;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
  -20px -20px 60px #ffffff;
  padding: 50px;
}

.section_add h2 {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: #7d8eb5;
}

.form_add input, .form_add select {
  border: 1px solid #F1F1F1;
  padding: 16px 20px;
  border-radius: 10px;
  width: 100%;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.form_add input[type="submit"] {
  width: auto !important;
  padding: 16px 50px;
  background-color: #7d8eb5;
  color: white;
  cursor: pointer;
}

.form_add input:focus, .form_add select:focus {
  outline: none;
}

.form_section_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form_input_70 {
  width: 69% !important;
}

.form_input_30 {
  width: 29% !important;
}

.justify_content_flex_end {
  justify-content: flex-end;
}

.form_add .button_upload_song {
  background-color: #e5eaf5;
  margin-bottom: 20px;
  padding: 10px 50px;
}

.img_cover {
  width: 40%;
  margin: 0 auto 20px;
}

.img_cover img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.table_container {
  width: 100%;
  max-height: 600px;
  background: #FFFFFF;
  padding: 30px 40px;
  border-radius: 20px;
  overflow-y: scroll;
  box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.1);
}

.table_admin {
  width: 100%;
  border-collapse: collapse;
}

.table_admin thead {
  text-align: left;
}

.table_admin thead th {
  padding: 5px 0;
  color: #7c8db5;
  font-weight: 600;
  font-size: 13px;
}

.table_admin tbody tr {
  border-top: 1px solid #F1F1F1;
}

.table_admin tbody td {
  padding: 10px 0;
}

.btn-edit {
  cursor: pointer;
  background-color: #f9ca24;
  color: white;
  font-size: 12px;
  padding: 2px 15px;
  border-radius: 100px;
  margin-right: 10px;
}

.btn-delete {
  cursor: pointer;
  background-color: #eb4d4b;
  color: white;
  font-size: 12px;
  padding: 2px 15px;
  border-radius: 100px;
}

.btn_admin_gestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn_to_panel {
  background-color: #7d8eb5;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  font-size: 14px;
}

.btn_to_add {
  background-color: #505d7d;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.span_style_name {
  background-color: #fa7c03;
  font-size: 12px;
  color: white;
  border-radius: 100px;
  padding: 4px 16px;
}

.list_button_admin {
  display: flex;
}

.btn_admin_panel {
  width: 20%;
  background: white;
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.2);
  padding: 100px 20px 10px;
  border-radius: 20px;
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  color: #7c8db5;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

.icon_btn_admin {
  color: #7c8db5;
  position: absolute;
  top: 15px;
  left: 20px;
  opacity: 0.7;
  font-size: 70px;
}

.center {
  text-align: center;
  margin: 50px 0;
}
